@*
@model Hotel_Management.Models.GuestType
@{
    ViewData["Title"] = "Create";
}
<br />
<header>
    <div class=" form-actions row px-md-2 ">
        <div class="col-6">
            <h1 class="text-dark">Guest Type Management</h1>
        </div>
    </div>
</header>
<br />
<form asp-area="Admin" asp-controller="GuestType" asp-action="Create" method="post" enctype="multipart/form-data" class="form ">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add New Guest Type</h5>
                    <div class="form-group form-actions">
                        <label asp-for="GuestTypesTitle" class="px-2" for="exampleFormControlInput1"></label>
                        <div class="col-sm-10">
                            <input asp-for="GuestTypesTitle" type="text" id="GuestTypesTitle" class="form-control " name="GuestTypesTitle">
                        </div>
                    </div>
                    <div class="form-actions left px-md-3 center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        <a asp-action="Index" class="btn btn-warning mr-1">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>*@

